/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 10px 0 10px;
  border-top: 1px solid var(--border-line);
  border-bottom: 1px solid var(--border-line);
}

.header__info-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.header__info-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 35px;
  padding-left: 300px;
  margin-left: 50px;
}

.header__info-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 100px;
}

.header__info-options-icons {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}
.header__info-options-icons img {
  cursor: pointer;
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 3px 0px 3px;
}

.header__info-options-sub {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
  padding: 7px 20px 7px 20px;
  font-size: 13px;
  font-weight: bold;
}
